<i class="fas fa-bars"></i>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand mt-6">
            <a class="js-scroll-trigger" href="#page-top"><i class="fas fa-spinner "></i> Evento Planner</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{%url 'home' %}"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{% url 'event-list'%}"><i class="fas fa-clipboard-list"></i> Events List</a>
        </li>
        {% if not request.user.is_anonymous %}
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{% url 'profile'%}"><i class="far fa-user-circle"></i> Profile</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{% url 'dashboard'%}"><i class="fas fa-project-diagram"></i> Dashborad</a>
        </li>
        {%endif%}
    </ul>
</nav>